html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#top-left {
    padding-left: 15px;
    padding-top: 10px;
}

#top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-top: 15px;
}

#center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo {
    width: 272px;
    height: auto;
}

#top-left a, #top-right a {
    font-family: arial, sans-serif;
    font-size: 13px;
    opacity: 0.75;
    padding-left: 10px;
}

#search-bar {
    width: 582px;
    height: 44px;
    border-radius: 25px;
}

#google-search-button, #lucky-button {
    border-radius: 5px;
    background-color: #f8f8f8;
    height: 36px;
    margin-left: 10px;
    margin-top: 30px;
}

#google-search-button:hover, #lucky-button:hover {
    border: 1px solid #c6c6c6;
}

footer {
    background: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

#bottom-left a {
    padding-left: 45px;
    line-height: 45px;
}

#center-buttons {
    text-align: center;
}

div {
    display: inline-block;
}

#bottom-right {
    text-align: right;
    float: right;
}

#bottom-right a {
    padding-right: 45px;
    line-height: 45px;
}